

<mat-toolbar color="primary">
    <span><a routerLink="/">My Weight Loss Journey!</a></span>
    <li *ngIf="!userIsAuthenticated">
        <a mat-raised-button color="primary" routerLink="/auth" routerLinkActive="activecolor">Login</a>
    </li>
    <button *ngIf="userIsAuthenticated" mat-button (click)="onLogout()">Logout</button>
    
    <span class="spacer"></span>
    <ul>
        <li>
            <a mat-raised-button color="warn" routerLink="/create" routerLinkActive="activecolor">Daily Weight Tracker</a>
           
          
        </li>

    </ul>
</mat-toolbar>