<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-hear">
            <a href="#" class="navbar-brand">My Weight Loss Journey!</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
            <li><a href="#">Daily Weight Tracker</a></li>
            <li><a href="#">Daily Caloric Intake</a></li>
            <li><a href="#">Daily Exercise Tracker</a></li>
            </ul>
        </div>

    </div>
</nav>


